extends layout

block content
  p
   |HI THERE FRIENDS
   |THIS IS THE FIRST SECTION
   |IT'S NOT VERY IMPORTANT
  p
   | Donec congue lacinia dui, a porttitor
   | lectus condimentum laoreet. Nunc eu
   | ullamcorper orci. Quisque eget odio ac
   | lectus vestibulum faucibus eget in metus.
   | In pellentesque faucibus vestibulum. Nulla
   | at nulla justo, eget luctus tortor.

