doctype html
html
  head
    title= title
    
    //import stylesheets
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')


    // Let browser know website is optimized for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    //import javascripts
    //too many scripts.... rip readability...
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js')
    script(language='Javascript', type='text/javascript', src='/javascripts/bootstrap.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js')
    script(language='Javascript', type='text/javascript', src='/javascripts/smoothPageScroll.js')
    script(language='Javascript', type='text/javascript', src='/javascripts/bars.js')

    script(language='Javascript', type='text/javascript', src='/javascripts/script.js')
    script.
      $(document).ready(function() {
        $('a[href^="#"]').click(function() {
            var target = $(this.hash);
            if (target.length == 0) target = $('a[name="' + this.hash.substr(1) + '"]');
            if (target.length == 0) target = $('html');
            $('html, body').animate({ scrollTop: target.offset().top-50  }, 1000);
            return false;
        });
      });
    script.
      $(window).load(function() {
      // Animate loader off screen
      $(".se-pre-con").fadeOut("slow");;
      });
 



    script(language='Javascript', type='text/javascript', src='/javascripts/wow.js')
    script(type='text/javascript', src='/javascripts/materialize.js')
    script.
      new WOW().init();

    //stuff
    

  body
    .se-pre-con
    include header
    .row.cow1#top
    .face-thing
      .wow.fadeInLeft
        img.img-circle(src="/images/profile.png" style="width: 250px; height: 250px")
    .face-words
      .wow.fadeInRight
        h1.featurette-heading
          font(color="white") 
            |Hi! My name is Harrison.
    
    .wow.fadeIn#aboutme
      .container
        .row.whoami
          h1 A Little About Me
        .border
      .container
        .row.aboutme
          p.lead.text-muted
            |I'm currently a sophomore in computer engineering
            |at the University of Illinois 
            |Urbana-Champaign, and I love to code! I also enjoy playing badminton and 
            |piano, and in my spare time, I play Hearthstone, League of Legends, and 
            | other games too. While not at school, I live in Palo Alto, California.
    #intro(data-speed='10', data-type='background')
      .row
        .intro-unit
    .wow.fadeIn
      .container
        .row.whoami
          h1 Skills
        .border
      .container
        .row.aboutme
          div(align='center')
            p.lead.text-muted
              |Yes.
          .skillbar.clearfix(data-percent='90%')
            .skillbar-title(style='background: #124e8c;')
              span Java
            .skillbar-bar(style='background: #4288d0;')
            .skill-bar-percent 90%
          .skillbar.clearfix(data-percent='80%')
            .skillbar-title(style='background: #27ae60;')
              span Android
            .skillbar-bar(style='background: #32CD32;')
            .skill-bar-percent 80%

          .skillbar.clearfix(data-percent='50%')
            .skillbar-title(style='background: #ff0000;')
              span Node.js
            .skillbar-bar(style='background: #ff0f00;')
            .skill-bar-percent 50%
          .skillbar.clearfix(data-percent='40%')
            .skillbar-title(style='background: #2c3e50;')
              span Jade/HTML
            .skillbar-bar(style='background: #2c3e50;')
            .skill-bar-percent 40%
          .skillbar.clearfix(data-percent='40%')
            .skillbar-title(style='background: #B200B2;')
              span CSS
            .skillbar-bar(style='background: #B545B5;')
            .skill-bar-percent 40%
          .skillbar.clearfix(data-percent='30%')
            .skillbar-title(style='background:#F2A3F5;')
              span Arduino
            .skillbar-bar(style='background: #FFCCFF;')
            .skill-bar-percent 30%
          .skillbar.clearfix(data-percent='30%')
            .skillbar-title(style='background: #000000;')
              span C
            .skillbar-bar(style='background: #333333;')
            .skill-bar-percent 30%

    .wow.fadeIn
      .container
        .row.whoami
          h1 Past Projects
        .border
      .container
        .row.aboutme
          div(align='center')
            p.lead.text-muted
              |Yes.
      #intro2(data-speed='10', data-type='background')
        .row
          .intro-unit

    .container
      .row.featurette
        .col-md-7.col-md-push-5
          h1.featurette-heading
            | The second section. 
            span.text-muted Pretty cool.
          p.lead
            | It's really cool, I swear. 
            | This one's even gonna have a picture in it probably.
      hr.featurette-divider
    .container
      .row.featurette
        .col-md-7
          h1.featurette-heading
            | And lastly, this one. 
            span.text-muted Checkmate.
          p.lead
            | Yeah, that's right, the page scrolls. I'm just typing random words here
            | to make it look like there's actually some content but it's actually just
            | some garbage filler text
      hr.featurette-divider
