doctype html
html
  head
    title= title
    
    //import stylesheets
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')


    // Let browser know website is optimized for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    //import javascripts
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js')
    script(language='Javascript', type='text/javascript', src='/javascripts/smoothPageScroll.js')
    script(language='Javascript', type='text/javascript', src='/javascripts/script.js')


    script(language='Javascript', type='text/javascript', src='/javascripts/wow.js')
    script(type='text/javascript', src='/javascripts/materialize.js')
    script.
      new WOW().init();

    //stuff
    

  body
    include header
    .row.cow1
    .face-thing
      .wow.bounceInLeft
        img.img-circle(src="/images/profile.png" style="width: 250px; height: 250px")
    .face-words
      .wow.bounceInRight
        h1.featurette-heading
          font(color="white") 
            |Hi! My name is 
            strong Harrison.
    .container
      .row.whoami
        h1 Who am I?
        h2.text-muted Let's find out!
      hr.featurette-divider
    #intro(data-speed='4', data-type='background')
      .row
        .intro-unit





    .container
      .row.featurette
        .col-md-7
          h1.featurette-heading
            | The first section. 
            span.text-muted It's amazing.
          p.lead
            | No seriously, it's amazing.

      hr.featurette-divider
    .container
      .row.featurette
        .col-md-7.col-md-push-5
          h1.featurette-heading
            | The second section. 
            span.text-muted Pretty cool.
          p.lead
            | It's really cool, I swear. 
            | This one's even gonna have a picture in it probably.
      hr.featurette-divider
    .container
      .row.featurette
        .col-md-7
          h1.featurette-heading
            | And lastly, this one. 
            span.text-muted Checkmate.
          p.lead
            | Yeah, that's right, the page scrolls. I'm just typing random words here
            | to make it look like there's actually some content but it's actually just
            | some garbage filler text
      hr.featurette-divider
